@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-playfair: '';
    --font-ibm-mono: '';
    --font-dm-sans:  '';
  }
  html { scroll-behavior: smooth; }
  body { @apply font-sans text-ink antialiased; }
  h1,h2,h3 { @apply font-display; }
}

@layer utilities {
  .scrollbar-hide { -ms-overflow-style:none; scrollbar-width:none; }
  .scrollbar-hide::-webkit-scrollbar { display:none; }
  .grid-bg {
    background-image:
      repeating-linear-gradient(0deg,transparent,transparent 39px,rgba(255,255,255,.03) 39px,rgba(255,255,255,.03) 40px),
      repeating-linear-gradient(90deg,transparent,transparent 39px,rgba(255,255,255,.03) 39px,rgba(255,255,255,.03) 40px);
  }
}
